# Android generated
bin/
gen/
obj/

# Ant
# build.xml
local.properties
gradle-wrapper.properties
lint.xml


# Eclipse
.externalToolBuilders/
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea
out/

# Mac
.DS_Store

# svn
.svn

# proguard
proguard

# Gradle
.gradle
build
build/
.idea
gradle/
gradlew
gradlew.bat
